[Unit]
Description=Foreman proxy initial setup
After=multi-user.target
Before=foreman-proxy.service dhcpd.service

[Service]
Type=idle
ExecStart=/usr/bin/bash -c "cat /proc/1/environ | tr '\0' '\n' > /etc/foreman-proxy/.setup_env; /etc/foreman-proxy/initial_setup.bash"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
